<div fxLayout="row">
  <div fxFlex="30">
    <app-page-list [pages]="pages" (select)="openPage($event)"></app-page-list>
    <ng-template [ngIf]="activeUser" [ngIfElse]="loginLink">
      <div>
        <button routerLink="pages/new">Add Page</button>
      </div>
      <div>
        Welcome {{activeUser.username}}
      </div>
    </ng-template>
    <ng-template #loginLink>
      <a routerLink="login">Login</a>
    </ng-template>
  </div>
  <div fxFlex="70">
    <router-outlet></router-outlet>
  </div>
</div>